<div class="page-header">
	<h1>Amigo Secreto
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">

		<div class="row">

			<div class="col-sm-12">
				<uib-tabset>
					<uib-tab active="tab[0]" ng-click="selectList()">
						<uib-tab-heading>
							Lista de Pessoas
						</uib-tab-heading>
						<table class="table table-striped table-bordered table-hover row-border hover">
							<thead>
							<tr>
								<th>Nome</th>
								<th>E-mail</th>
								<th>Amigo</th>
								<th>Ações</th>
							</tr>
							</thead>

							<tbody>

							<tr ng-repeat="pessoa in pessoas">
								<td>{{pessoa.nome}}</td>
								<td>{{pessoa.email}}</td>
								<td>{{pessoa.amigo.nome}}</td>
								<td>
									<div class='hidden-sm hidden-xs action-buttons'>
										<a class="blue" href="" ng-click="openModal(pessoa._id.toString())"><i class="ace-icon fa fa-search-plus bigger-130"></i></a>
										<a class="green" href="" ng-click="restorePessoas(pessoa._id.toString())"><i class="ace-icon fa fa-pencil bigger-130"></i></a>
									</div>
								</td>
							</tr>

							</tbody>
							<div class="modal-footer">
								<button class="btn btn-primary btn-sm" type="button" ng-click="sortear()">Sortear Amigos</button>
							</div>
						</table>
						<script type="text/ng-template" id="modalContent.html">
							<div class="modal-header">
								<h3 class="modal-title">Detalhes da Pessoa</h3>
							</div>
							<div class="modal-body">
								<h3>Pessoa</h3>
								<ul>
									<li>Nome: <b>{{pessoaModal.nome}}</b></li>
									<li>E-mail: <b>{{pessoaModal.email}}</b></li>
									<li>Amigo: <b>{{pessoaModal.amigo.nome}}</b></li>
								</ul>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary btn-sm" type="button" ng-click="ok()">OK</button>
							</div>
						</script>
					</uib-tab>

					<uib-tab active="tab[1]" ng-click="selectEdit()">
						<uib-tab-heading>
							Cadastro de Pessoa
						</uib-tab-heading>

						<form class="form-horizontal" role="form" name="formCadastro">
							<input type="hidden" ng-model="cadastro._id"/>
							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">
									Nome
								</label>
								<div class="col-sm-11">
									<input type="text" placeholder="Nome" class="col-sm-12" ng-model="cadastro.nome" ng-required="true"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label no-padding-right">
									E-mail
								</label>
								<div class="col-sm-11">
									<input type="email" placeholder="E-mail" class="col-sm-12" ng-model="cadastro.email" ng-required="true"/>
								</div>
							</div>

							<div class="form-group">
								<div>
									<label class="col-sm-1 control-label no-padding-right">
										Amigo
									</label>
									<div class="col-sm-11">
										{{cadastro.amigo.nome}}
									</div>
								</div>
							</div>

							<div class="clearfix">
								<div class="col-md-offset-1 col-md-12">
									<button class="btn btn-info" type="button" ng-click="enviarPessoa()" ng-disabled="formCadastro.$invalid">
										<i class="ace-icon fa fa-check bigger-110"></i>
										Enviar
									</button>
								</div>
							</div>

						</form>


					</uib-tab>
				</uib-tabset>
			</div><!-- /.col -->
		</div>
	</div>
</div>

<script src="../components/underscore/underscore.min.js"></script>


